*{
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
   
}
body{
     background-image: url(Firefly-6.3s-1084px.png);
     text-transform: uppercase;
}
.interface2{
    background-color: #e8eaff;
    width: 900px;
    height: 620px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #C35D94;
    margin-top: 5vh;
    box-shadow: 2px 2px 12px 1px #43436b;
    
}
.interface3{
    background-color: #e8eaff;
    width: 1100px;
    height: 870px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px solid #C35D94;
    
    box-shadow: 2px 2px 12px 1px #43436b;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-family: 'Kanit';
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 50px;
    font-weight:900;
    color: #43436b;
}

.game{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5vh;
    
}
.box{
    border: 8px solid;
    border-image: linear-gradient(to right, #C35D94, #43436b) 1;
    border-top-style: none;
    border-left-style: none;
    width: 17vh;
    height: 17vh;
   font-size: 80px;
   color: #43436b;
   background-color: #e8eaff;
   font-family: 'Fuzzy Bubbles', cursive;
   font-weight: 400;
}
.box3{
    border-right-style: none;
}
.box6{
    border-right-style: none;
}
.box9{
    border-right-style: none;
    border-bottom-style: none;
}
.box7{
    border-bottom-style: none;
}
.box8{
    border-bottom-style: none;
}
.gameleft{
    display: flex;
    justify-content: flex-end;
    margin-right: 10vh;
    margin-top: 3vh;
    margin-bottom: 1vh;
    
}
.nbgameleft{
    background-color: #e8eaff;
    border: 3px solid #C35D94;
    width: 25vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    color: #43436b;
}
.tryagain{
    margin-top: 5vh;
    width: 20vh;
    height: 4vh;
    font-size: 16px;
    background-color: #C35D94;
    color: #e8eaff;
    font-weight: 600;
}
.player{
    margin-top: 5vh;
    font-size: 30px;
    color: #C35D94;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.announce{
    margin-top: 5vh;
    font-size: 30px;
    color: #C35D94;
    font-weight: 700;
    background-color: #e8eaff;
}
.roundleft{
    margin-top: 2vh;
    font-size: 16px;
}
.whowon{
    width: 80vh;
    height: 40vh;
    background-color: #43436b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8eaff;
    margin-top: 10vh;
    border-radius: 40px;
    font-size: 40px;
}

.againstWhom{
    margin-top: 3vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.againstWhom label{
    margin-top: 2vh;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #43436b;
}
input{
    margin-top: 3vh;
    accent-color: #C35D94;
}
select{
    margin-top: 3vh;
    width: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: center;
}
button{
    width: 15vh;
    height: 5vh;
    font-size: 20px;
    border: 1px solid #43436b;
    background-color: #C35D94;
    color: #e8eaff;
    border-radius: 25px;
}
img{
    height: 60px;
    width: 60px;
    margin-left: 1vh;
    margin-top: 1vh;
}
.interface{
    font-size: 21px;
}
#submitTheForm{
    box-shadow: 1px 1px 8px 1px #43436b;
    border: none;
}
#submitTheForm:hover{
    color: #e8eaff;
    background-color: #43436b;
    box-shadow: 1px 1px 8px 1px #C35D94;
}
.winner{
    background-color: #e8eaff;
}
@media screen and (max-width:1113px){
.interface3{
    width: 900px;
}
}
@media screen and (max-width:931px){
.interface2{
    width: 700px;
}
.interface3{
    width: 700px;
}
}
@media screen and (max-width:727px) {
    h1{
        font-size: 30px;
    }
    .interface2{
        width: 500px;
    }
    .againstWhom{
        font-size: 20px;
    }
    .interface3{
        width: 500px;
    }
    .whowon{
        width: 450px;
        font-size: 35px;
    }
}
@media screen and (max-width:521px){
    .interface2{
        width: 350px;
        height: 520px;
    }
    h1{
        font-size: 25px;
    }
    .againstWhom{
        font-size: 16px;
    }
    #submitTheForm{
        width: 100px;
        font-size: 18px;
    }
    .interface3{
        width: 350px;
        height: 650px;
    }
    .back{
        width: 50px;
    }
    .nbgameleft{
        width: 20vh;
        font-size: 16px;
        border-width: 2px;
    }
    .box{
        width: 10vh;
        height: 10vh;
        font-size: 45px;
    }
    .whichplayer{
        font-size: 20px;
    }
    .whowon{
        width: 300px;
        font-size: 25px;
        height: 250px;
    }
}
@media screen and (max-width:365px){
    .interface2{
        width: 280px;
    }
    h1{
        font-size: 20px;
    }
    .againstWhom{
        font-size: 14px;
    }
    .interface3{
        width: 280px;
    }
    .whowon{
        width: 280px;
        font-size: 20px;
    }
    .announce{
        font-size: 25px;
    }
}